footer {
    background: white;
    width: 100%;
    height: 750px;
  }

  .rodape {
    background-color: #ffffff;
    padding: 14px;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    width: 1370px;
    text-align: center;
  }

  .copy p {
    position: relative;
    margin-top: 4%;
    color: #646464;
  }

  .card-1-footer {
    border: solid 1px #3E88D7;
    border-radius: 20px;
    width: 325px;
    height: 433px;
    margin-left: 3%;
    justify-content: space-between;
  }

  .card-1-footer h4 {
    font-size: 18px;
    text-align: left;
    color: #3E88D7;
    margin-left: 20px;
    padding: 20px;

  }

  .card-1-footer img {
    position: absolute;
    margin-top: 10px;
    margin-left: -120px;
  }

  #tel-img {
    position: absolute;
    margin-top: 80px;
  }

  .card-1-footer span {
    background: #3E88D7;
    border-radius: 40px;
    width: 177px;
    height: 41px;
    display: flex;
    font-size: 18px;
    align-items: center;
    color: white;
    padding: 5px 12px;
    line-height: 41px;
    margin-left: 33px;
    

  }

  .card-1-footer small {
    color: #646464;
    font-size: 14px;
    text-align: left;
    margin-left: -37.8px;
    font-weight: bold;
    height: 80px;
    line-height: 70px;
  }

  #tel-small {
    margin-left: -122px;
  }

  .seg {
    color: #3E88D7;
    margin-right: 100px;
  }

  .sab {
    margin-right: 91px;
    color: #3E88D7;
  }

  .sub-small {
    font-size: 10px;
    margin-top: 15px;
    font-weight: bold;
    color: #646464;
  }

  .card-2-footer {
    background: #3E88D7;
    border: solid 1px #3E88D7;
    border-radius: 20px;
    width: 325px;
    height: 433px;
    margin-left: 295%;
    justify-content: space-between;
    margin-top: -420px;
  }

  .card-2-footer h4 {
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    margin-left: 20px;
    padding: 20px;
    margin-top: -5px;

  }

  .card-2-footer img {
    position: absolute;
    margin-top: 10px;
    margin-left: -120px;
  
  }

  #wpp {
    margin-left: 28px;
  }

  .card-2-footer span {
    background: #ffffff;
    border-radius: 40px;
    width: 150px;
    height: 41px;
    display: flex;
    font-size: 15px;
    align-items: center;
    color: #3E88D7;
    padding: 4px 15px;
    line-height: 20px;
    margin-left: 33px;
  }

  .card-2-footer small {
    color: #646464;
    font-size: 10px;
    text-align: left;
    margin-left: -37.8px;
    font-weight: bold;
    height: 80px;
    line-height: 70px;
  }

  .coluna-1-titulo {
    color: #3E88D7;
    margin-top: -30.5%;
    margin-right: 420px;
  }

  .coluna-1-lista {
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin-left: 403px;
  }

  .coluna-1-lista ul {
    list-style: none;
    text-align: left;
    padding: 10px 0px 0px 0px;
  }

  .coluna-1-lista ul li {
    margin-bottom: 8px;
  }

  .coluna-1-lista ul li a {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 18px;
    color: #646464;
  }

  .coluna-2-titulo {
    color: #3E88D7;
    margin-top: -21.8%;
    margin-right: -150px;
  }

  .coluna-2-lista {
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin-right: 428px;
  }

  .coluna-2-lista ul {
    list-style: none;
    text-align: left;
    padding: 10px 0px 0px 0px;
  }

  .coluna-2-lista ul li {
    margin-bottom: 8px;
  }

  .coluna-2-lista ul li a {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 18px;
    color: #646464;
  }

  .publicidade-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3E88D7;
    margin-top: 14%;
    border-radius: 20px;
    width: 1290px;
    height: 146px;
  }
  
  .publicidade-1 h1 {
    font-size: 35px;
    color: white;
    margin-top: 30px;
    text-align: right;
    margin-left: 35%;
  }

  .publicidade-descricao {
    color: white;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .publicidade-descricao h4 {
    margin-top: -10%;
  }
  
  .publicidade-descricao img {
    position: relative;
    margin-left: 490px;
    margin-top: 8px;
  }

  #email-img {
    position: absolute;
    margin-top: -85px;
   
  }
  
  .publicidade-descricao span {
    display: flex;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    margin: 25px 520px 0px;
    margin-top: -30px;
    line-height: 39px;
  }

  .publicidade-descricao-2 {
    color: white;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-right: -250px;
  }

  .publicidade-descricao-2 h4 {
    margin-top: -10%;
    font-size: 22px;
  }
  
  .publicidade-descricao-2 img {
    position: relative;
    margin-left: 590px;
    margin-top: 8px;
  }

  #email-img-2 {
    position: absolute;
    margin-top: -82px;
   
  }
  
  .publicidade-descricao-2 span {
    display: flex;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    margin: 25px 520px 0px 625px;
    margin-top: -30px;
    line-height: 40px;
  }



  @media (max-width: 1100px) {
      .rodape{
        display: flex;
        width: 80%;
      }

      footer {
        display: flex;
        width: 90%;
      }
    }



  @media (max-width: 700px) {
    footer {
      display: none;
    }
  }


  

  